@use '@angular/material' as mat;

:root {
    --font-family: 'Inter', Roboto, "Helvetica Neue", Arial, sans-serif;

    @include mat.toolbar-overrides((container-background-color: #3f51b5,
            /* Indigo – Hauptfarbe der Toolbar */
            container-text-color: #ffffff,
        ));

    @include mat.menu-overrides((item-label-text-color: #ff4081,
            /* Kräftiger Akzent für den Text der Menüelemente */
            item-hover-state-layer-color: #303f9f,
            /* Dunklerer Hintergrund im Hover-Zustand */
            container-color: #3f51b5,
            /* Gleiche Indigo-Farbe wie die Toolbar */
        ));


    @include mat.snack-bar-overrides((container-color: red,
            supporting-text-color: white,
            button-color: white,
        ));
}

html,
body {
    height: 100%;
    background-color: #f5f5f5;
    /* Heller Grauton für den Seitenhintergrund */
    margin: 0;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    /* Font settings */
    color: #212121;
}


/* Styling für MatIcons */
.mat-icon {
    color: #ff4081;
    /* Kräftiger Akzent */
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
    /* Optionaler Schatten */
}

/* Styling für MatCard */
.mat-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

/* Styling für MatButton (alle Varianten) */
.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button {
    color: #ffffff;
    background-color: #3f51b5;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    padding: 8px 16px;

    &:hover {
        background-color: #303f9f;
        /* Dunkleres Indigo beim Hover */
    }

    &:disabled {
        background-color: #9fa8da;
        /* Hellerer Farbton für deaktivierte Buttons */
    }
}

/* Material Overrides */
mat-toolbar {
    font-weight: 500;
    font-size: 18px;
}

.mat-card-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.mat-card-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}

mat-label {
    font-weight: 400;
    font-size: 14px;
    color: #424242;
}

mat-error {
    font-weight: 400;
    font-size: 13px;
    color: #f44336;
}

mat-button,
button.mat-button,
button.mat-raised-button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* Typografie für h1-h6 */
h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}